appdirs==1.4.4
arandr==0.1.10
Beaker==1.11.0
beautifulsoup4==4.10.0
bs4==0.0.1
btrfsutil==5.16
CacheControl==0.12.6
cairocffi==1.3.0
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
cffi==1.15.0
chardet==4.0.0
click==8.0.3
click-plugins==1.1.1
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==36.0.1
cupshelpers==1.0
cycler==0.10.0
distlib==0.3.4
distro==1.6.0
dnspython==2.2.0
fonttools==4.29.1
gps==3.23.1
greenlet==1.1.2
html5lib==1.1
idna==3.3
importlib-metadata==4.8.1
injector==0.19.0
isc==2.0
kiwisolver==1.3.2
lensfun==0.3.95
libfdt==1.6.1
libvirt-python==8.0.0
louis==3.20.0
lxml==4.7.1
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.1
mercurial==6.0.2
more-itertools==8.10.0
msgpack==1.0.3
mutagen==1.45.1
netsnmp-python==1.0a1
nftables==0.1
numpy==1.21.5
optimus-manager==1.4
ordered-set==4.0.2
packaging==20.9
peewee==3.14.8
pep517==0.12.0
Pillow==9.0.1
ply==3.11
progress==1.6
psutil==5.9.0
py3nvml==0.2.7
pycairo==1.20.1
pycparser==2.21
pycryptodomex==3.14.0
pycups==2.0.1
pycurl==7.44.1
PyGObject==3.42.0
pylibiio==0.23
pynvim==0.4.3
PyOpenGL==3.1.5
pyOpenSSL==21.0.0
pyparsing==2.4.7
PyQt5==5.15.6
PyQt5-sip==12.9.1
pysmbc==1.0.23
python-dateutil==2.8.2
python-prctl==1.8.1
python-xlib==0.31
pyxdg==0.27
PyYAML==5.4.1
qtile==0.20.0
rados==2.0.0
ranger-fm==1.9.3
rbd==2.0.0
Reflector==2021.11.20.2.41.3
reportlab==3.6.6
requests==2.26.0
resolvelib==0.5.5
retrying==1.3.3
rgw==2.0.0
Rx==3.2.0
six==1.16.0
soupsieve==2.3.1
team==1.0
toml==0.10.2
tomli==2.0.0
typing-extensions==4.0.1
ufw==0.36.1
urllib3==1.26.8
webencodings==0.5.1
websockets==10.1
xcffib==0.11.1
yt-dlp==2022.2.4
zipp==3.7.0
